<ion-header >
  <ion-toolbar class="bgh-class">
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class" >


  <ion-list class="bg-class" >
    <div  class="bg-class"  *ngFor = "let la of test; let i = index">
    <ion-list  id="{{testID}}" class="bg-class" >
      <ion-item-sliding [attr.id]="'box' + i" >
          <ion-item class="bg-class" >
            
            <ion-label>
              <h1>Box #</h1>            
            </ion-label>
            <ion-note slot="end">
              <p>Last completed</p> 10:45 AM
            </ion-note>
          </ion-item>      
          <ion-item-options side="end" (click)="boxTest('history' + i);">
            <ion-item-option color="danger" >
              <ion-icon slot="icon-only" name="book"  ></ion-icon>
            </ion-item-option>          
          </ion-item-options>
        </ion-item-sliding>
        <ion-list [attr.id]="'history' + i" hidden class="his-class">
            <ion-item class="his-class" >asdf</ion-item>
            <ion-item class="his-class" >asdf</ion-item>
            <ion-item class="his-class" >asdf</ion-item>
            <ion-item class="his-class" >asdf</ion-item>
          </ion-list>
      </ion-list>
    </div>
      
    </ion-list>
    


    <ion-infinite-scroll  >
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
          <ion-item *ngFor = "let la of test;"> {{la}} 
      
            </ion-item>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  <ion-list>
    
  </ion-list>
</ion-content>

