.bgh-class{
    background-color: rgb(58, 66, 113); 
    --color: rgb(234, 203, 136);
    font-family: 'Muli', sans-serif;
    
}

.bg-class{
    --background: rgb(63, 83, 133); 
    background-color: rgb(63, 83, 133);
    --color: rgb(234, 203, 136);
    color: rgb(234, 203, 136);
}

.his-class{
    --background: rgb(93, 119, 185); 
    background-color: rgb(63, 83, 133);
    --color: rgb(234, 203, 136);
    color: rgb(234, 203, 136);

}
