.bgh-class{
  --background: #D8E1FF;
  background-color: #D8E1FF; 
  --color: #7A8B99;
  font-family: 'Muli', sans-serif;    
}

.bg-class{
    --background: #759EB8;
    background-color: #759EB8;
    --color: white;
    color: white;
    font-family: 'Muli', sans-serif;
}

.his-class{
    --background: rgb(93, 119, 185); 
    background-color: #759EB8;
    --color: rgb(234, 203, 136);
    color: rgb(234, 203, 136);
    font-family: 'Muli', sans-serif;
 
}

.innerList-class{
  --background: #acc5ff; 
  background-color: #acc5ff; 
  --color: white;
    color: white; 
    --border-color:  rgb(102, 138, 160);
    font-family: 'Muli', sans-serif; 
}
.ininnerList-class{
  --background: #d8e1ff; 
  background-color: #d8e1ff; 
  --color: #011936;
    color: #011936; 
    font-family: 'Muli', sans-serif;
}

.slideButton-class{
  --background: #D8E1FF;
  background-color: #D8E1FF; 
  --color: #759eb8; 
    color: #759eb8; 
}

//https://codepen.io/swieder/pen/RNqVqY -> Code for animating in or out
@-webkit-keyframes slideInBothWays {
    
  0% {
     
    -webkit-transform: translate3d(-100%,0,0);
    
  }



  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

.slide-in-reverse {
   -webkit-animation: slideInReverse ease-in 1; 
  animation: slideInReverse ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;

   
}
.slide-in-both-ways {
     
    -webkit-animation: slideInBothWays ease-in 1; 
   animation: slideInBothWays ease-in 1;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
   -webkit-animation-duration: .5s;
   animation-duration: .5s;
   
   
 }
@-webkit-keyframes slideInReverse {
    
    0% {
      -webkit-transform: translate3d(0,0,0);
    }
  
  

    100%{
      -webkit-transform: translate3d(-100%,0,0);
 
    }
  }
