<style>
    @import url('https://fonts.googleapis.com/css?family=Muli:200');
</style>
<ion-header >
  <ion-toolbar class="bgh-class">
      <ion-button slot="start" href="/home" class="bg-class">
        Back
      </ion-button>
    <ion-title style="float: right" >Box Archive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class " >

  <ion-list class="bg-class" >
    <div  class="bg-class"  *ngFor = "let boxes of boxd | keyvalue; let i = index">
    <ion-list  id="{{testID}}" class="bg-class" >
      <ion-item-sliding [attr.id]="'box' + i" >
          <ion-item class="bg-class" >
            
            <ion-label style="font-family:'Muli', sans-serif;">
              <h1>Box #{{i}}</h1>            
            </ion-label>
            <ion-note slot="end">
              <p>Last completed</p> 10:45 AM
            </ion-note>
          </ion-item>      
          <ion-item-options id="'showHis' + i" side="end" (click)="boxTest('history' + i)">
            <ion-item-option class="slideButton-class" >
              <ion-icon slot="icon-only" name="book"  ></ion-icon>
            </ion-item-option>          
          </ion-item-options>
        </ion-item-sliding>
        <ion-list padding [attr.id]="'history' + i" style="display: none" class="his-class slide-in-reverse">
            <div *ngFor = "let history of boxes.value | keyvalue; let k = index" class="bg-class" >
              <ion-item  class="innerList-class"(click)="boxTest('his'+i+k)">{{history.key}}</ion-item>
              <ion-list no-padding class="ininnerList-class slide-in-reverse" [attr.id]="'his'+i+k" style="display: none;" >
                  <ion-item class="ininnerList-class " *ngFor = "let duties of history.value | keyvalue">{{duties.key}}: {{duties.value}}</ion-item>
              </ion-list>
            </div>
          </ion-list>
      </ion-list>
    </div>
      
    </ion-list>
    

<!-- <ion-list (click)="disTest()" id="listVis">
     <ion-infinite-scroll  >
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
          <ion-item  *ngFor = "let la of test;"> {{la}} 
      
            </ion-item>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-list>   -->
    
  

</ion-content>
<script >
  function a(){
    console.log("asdf");
  }
</script>
  
