.bg-class{
    //--background: linear-gradient(270deg,rgb(227, 255, 214) 0%, rgb(214, 255, 206) 13.5%, rgb(214, 255, 212) 33.33%, rgb(210, 226, 255) 100%) !important;
    //--background: linear-gradient(150deg,rgb(235, 242, 255) 0%,  rgb(223, 251, 255) 30%, rgb(184, 209, 255) 70%, rgb(218, 231, 255) 100%) !important;
    --background: rgb(63, 83, 133); 
    --color: rgb(234, 203, 136);
    font-family: 'Muli', sans-serif;
}
.bgh-class{
    //--background: linear-gradient(270deg,rgb(181, 202, 172) 0%, rgb(178, 209, 172) 13.5%, rgb(166, 199, 164) 33.33%, rgb(157, 169, 190) 100%) !important;
    --background: rgb(58, 66, 113); 
}
.cBox-class{
    //padding-left: 30px;
    float: right; 
}
.list-class{
    border-bottom: 10px;
    border-color: black;
    --ion-background-color: transparent; 
    backface-visibility: hidden;
    font-family: 'Muli', sans-serif;
    //padding-bottom: 20%; 
    font-size: 15px; 
    --color: white; 
}
.button-class{
    font-family: 'Muli', sans-serif;
    position: relative;
    left: 0;
    bottom: 10px;
    right: 0;
    //--background: linear-gradient(270deg,rgb(181, 202, 172) 0%, rgb(178, 209, 172) 13.5%, rgb(166, 199, 164) 33.33%, rgb(157, 169, 190) 100%) !important;
    --background:  rgb(58, 66, 113);
    --color: rgb(234, 203, 136);
}
.lab-class{
    color: gray; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75%;
    text-align: center;
    font-style: italic;
    
    
    
    
    
}
.div-class{
    padding-bottom: 15%;
}
.backB-class{
    --background: rgb(234, 203, 136);
}

.input-class{
    padding-left: 10px;
    font-family: 'Muli', sans-serif;
    --color: black; 
    --background: white; 
}
.inDiv-class{
    padding: 5%;
}