<style>
        @import url('https://fonts.googleapis.com/css?family=Muli:200');
</style>
<ion-header >
    <ion-toolbar class="bgh-class">
                <!-- <ion-title class="ti-class" size="small">Arbor</ion-title> -->
                <ion-button class="logIn-class" size="small" href="/log-in"> log in</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-class">
    
    <div class="div-class">
        <ion-button href="/box"  class="bgh-class" expand="block" size="large" fill ="outline" shape="round">Box Checklist</ion-button>
        <!-- <ion-button class="bgh-class" expand="block" size="large" fill ="outline" shape="round">Box Checklist</ion-button> -->
    </div>
    <!-- <firebase-ui></firebase-ui> -->
</ion-content>

<script>
    
</script>



